* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.create-form {
	max-width: 450px;
	padding: 20px 30px;
}

.create-form .form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.create-form button {
	width: 100%;
}
